*.pdf
*.jpg
*.jpeg
*.png
*.bmp
*.log
*.tmp
*.mp4
*.avi
*.zip
*.sql
*.rar
*.bak
*.doc
*.docx
*.xls
*.xlsx
.osp/*

*.ttf
*.woff
*.woff2

wp-config.php

wp-config*.php

//themes/*
!//themes/uokm/

/part/*