/* FONTS */
@font-face {
    font-family: 'BruskovayaCNormal';
    src: url('../fonts/bruskovaya-webfont.eot');
    src: url('../fonts/bruskovaya-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bruskovaya-webfont.woff') format('woff'),
         url('../fonts/bruskovaya-webfont.ttf') format('truetype'),
         url('../fonts/bruskovaya-webfont.svg#BruskovayaCNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BruskovayaCTTNarrowNormal';
    src: url('../fonts/bruskovayanarrow-webfont.eot');
    src: url('../fonts/bruskovayanarrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bruskovayanarrow-webfont.woff') format('woff'),
         url('../fonts/bruskovayanarrow-webfont.ttf') format('truetype'),
         url('../fonts/bruskovayanarrow-webfont.svg#BruskovayaCTTNarrowNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.h2{
    font-family: BruskovayaCTTNarrowNormal;
}